**/__pycache__/
old*/
data
tt
model_cache/
output/
*venv/
.secrets.toml
settings.toml
-_files/
pipeline-crindt_files/
.ipynb_checkpoints/
*.out
.DS_Store
./*.csv
*.zip
*.swp
*.log
*.tex
*-out.ipynb
tmp.*
hold*
Untitled*
*.aux
*.pdf
*-hold.*
tmp*
to-sort/
.vscode/
data-archives/
releases/
.env
.env.example
.python-version
doc/ai-chats/
notes/
paths.toml
tools/open-data.txt
